
h1{
	
	text-align: center;
	color: lime;
	font-size: 70px;
	position: absolute;
	margin-left: 510px;
	margin-top: 200px;
}

.link{
	position: absolute;
	text-align: center;
	margin-top: 270px;
	margin-left: 640px;
	font-size: 50px;
	overflow: hidden;
	
}
 .link2{
 	position: absolute;
	text-align: center;
	margin-top: 270px;
	margin-left: 650px;
	font-size: 50px;
	overflow: hidden;
	
}
 .link3{
 	position: absolute;
	text-align: center;
	margin-top: 270px;
	margin-left: 650px;
	font-size: 50px;
	overflow: hidden;
	
} .link4{
 	position: absolute;
	text-align: center;
	margin-top: 270px;
	margin-left:650px;
	font-size: 50px;
	overflow: hidden;
	
} .link5{
 	position: absolute;
	text-align: center;
	margin-top: 270px;
	margin-left: 650px;
	font-size: 50px;
	overflow: hidden;
	
} .link6{
 	position: absolute;
	text-align: center;
	margin-top: 270px;
	margin-left: 650px;
	font-size: 50px;
	overflow: hidden;
	
} .link7{
 	position: absolute;
	text-align: center;
	margin-top: 270px;
	margin-left: 650px;
	font-size: 50px;
	overflow: hidden;
	
} .link8{
 	position: absolute;
	text-align: center;
	margin-top: 270px;
	margin-left: 650px;
	font-size: 50px;
	overflow: hidden;
	
}
 .link9{
 	position: absolute;
	text-align: center;
	margin-top: 270px;
	margin-left: 650px;
	font-size: 50px;
	overflow: hidden;
	
}
 .link10{
 	position: absolute;
	text-align: center;
	margin-top: 270px;
	margin-left: 650px;
	font-size: 50px;
	overflow: hidden;
	
}

